{% extends 'base.html' %}

{% block title %} Помощь по запросу{% endblock %}

{% block content %}
<section class="content">
<div class="information information-help">
    <div class="card">
    <h4>Поиск по лемме</h4>
        <p>Введите слово <b>без кавычек</b>, чтобы найти употребления всех словоформ данной лексемы.</p>
        <ul>
            <li>врачи<p> → все предложения, в которых есть словоформы <i>врач</i>, <i>врачу</i>, <i>врачи</i> и др.</p></li>
            <li>врач<p> → тот же набор предложений.</p></li>
        </ul>
    </div>

    <div class="card">
    <h4>Поиск по словоформе</h4>
        <p>Введите слово <b>в двойных кавычках</b>, чтобы найти предложения с заданной словоформой.</p>
        <ul>
            <li>"спасли"<p> → все предложения, в которых употреблена словоформа <i>спасли</i>.</p></li>
            <li>"красную"<p> → все предложения, в которых употреблена словоформа <i>красную</i>.</p></li>
        </ul>
        <p><b>NB:</b> в двойные кавычки должна быть взята каждая словоформа в запросе.</p>
        <br>
        <ul>
            <li>"мама" "пришла"  <i class="fas fa-check" style="color: #4D3C90"></i></li>
            <li>"мама пришла"  <i class="fas fa-exclamation-circle" style="color: #4D3C90"></i></li>
        </ul>

    </div>

    <div class="card">
    <h4>Поиск по части речи</h4>
        <p>Введите часть речи в формате <a href="https://universaldependencies.org/u/pos/" target="_blank"><b>Universal Dependencies</b></a>, чтобы найти все предложения с заданной частью речи.</p>
        <ul>
            <li>NOUN<p> → все предложения, в которых употреблено(-ы) существительное(-ые).</p></li>
            <li>NUM<p> → все предложения, в которых употреблено(-ы) числительное(-ые).</p></li>
        </ul>
    </div>

    <div class="card">
    <h4>Комбинированный поиск</h4>
        <p>Введите <b>лемма+POS-тег</b>, чтобы найти все употребления словоформ с ограничением по части речи.</p>
        <ul>
            <li>и+CCONJ<p> → все предложения, в которых употреблен сочинительный союз <i>и</i>.</p></li>
            <li>и+PART<p> → все предложения, в которых употреблена частица <i>и</i>.</p></li>
        </ul>
    </div>

    <div class="card">
    <h4>Сложные запросы</h4>
        <p>Корпус также поддерживает поиск N-грамм любой длины, то есть в поисковом запросе можно написать <b>через пробел</b> несколько токенов, заданных одним из 4 способов выше.</p>
        <ul>
            <li>врачи нашли NOUN</li>
            <li>NOUN и+CCONJ пациенты</li>
        </ul>
    </div>
</div>

</section>
{% endblock %}